@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Rubik+Gemstones&display=swap");

body {
  font-family: "Codystar", cursive;
  font-family: "Rubik Gemstones", cursive;
  background: url("sky.jpeg");
  background-size: cover;
}

header {
  text-align: center;
}

img {
  height: 400px;
}

.container {
  display: flex;
}

.board,
.others {
  background-image: linear-gradient(
    to right,
    rgba(29, 172, 231, 0.7),
    rgba(15, 158, 218, 0.9)
  );
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

/* ======================= LEFT SIDE ======================= */
.board {
  margin-left: auto;
}

.circle {
  display: inline-block;
  height: 80px;
  width: 80px;
  color: gray;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
}

.row {
  text-align: center;
}

.GREY {
  background-color: grey;
}

.YELLOW {
  background-color: rgb(255, 246, 0);
}

.RED {
  background-color: rgb(255, 32, 32);
}

/* ======================= RIGHT SIDE ======================= */
.others {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.others div {
  padding: 30px;
  min-width: 200px;
  margin: 0px auto 0px auto;
}

#current-turn,
#rematch,
#instructions {
  padding: 20px;
  border-radius: 20px;
  border: none;
  font-family: "Codystar", cursive;
  font-family: "Rubik Gemstones", cursive;
  font-size: 25px;
}

#current-turn {
  font-size: 35px;
  padding: 30px;
}

#rematch {
  transition-duration: 0.4s;
  padding: 30px;
  margin-bottom: -30px;
}

#rematch:hover {
  background-color: green;
}

#yellow-wins {
  margin-bottom: -35px;
}
.red-wins {
  margin-top: -50px;
}

#yellow-wins,
#red-wins {
  font-size: 30px;
  margin-top: -50px;
}

#instructions {
  background-color: green;
}
