body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
}

.board,
.others {
  background-color: #89cff0;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

/* ======================= LEFT SIDE ======================= */
.board {
  margin-left: auto;
}

.circle {
  display: inline-block;
  height: 80px;
  width: 80px;
  color: gray;
  border-radius: 50%;
  background-color: white;
}

.row {
  text-align: center;
}

.BLUE {
  background-color: #0096ff;
}

.RED {
  background-color: #ff7779;
}

/* ======================= RIGHT SIDE ======================= */
.others {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.others div {
  padding: 30px;
}

#output,
#current-turn,
#rematch {
  font-size: 25px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.button {
  transition-duration: 0.4s;
}
.button:hover {
  background-color: green;
}
